{
    "RIOT_API_KEY": "xxx",
    "GOOGLE_CSE_ID": "xxx",
    "IMGFLIP_USER": "xxx",
    "IMGFLIP_PASSWORD": "xxx",
    "GOOGLE_KEY": "xxx",
    "HAILING": "!",
    "BOT_NAME": "xxx",
    "DISCORD_EMAIL": "xxx",
    "DISCORD_PASSWORD": "xxx",
    "DISCORD_VOICE_CHANNEL": "xxx",
    "DISCORD_GUILD": "xxx",
    "DISCORD_TEXT_CHANNEL": "xxx"
}
